<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="fst-italic fw-lighter">Start Adding Your Contact On Cloud</h1>
			<a th:href="@{/user/add-contact}" class="btn bg-primary btn-lg text-white mt-4">Add New Contact</a>
		</div>

		<script>
			$(document).ready(() => {
				
				$("#home-link").addClass("active1");
			});
		</script>
	</section>


</body>

</html>